<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- jQuery,Popper.js,Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <title>プログレスバー</title>
</head>

<body>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                プログレスバーサンプル
            </div>
            <div class="card-body">
                <div id="progress">プログレスバー表示部分</div>
                <div id="result">処理結果表示部分</div>
                <div class="row">
                    <button class="btn btn-primary col-12" id="start_button" value="{% url 'setup' %}">処理の実行</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $("#start_button").on("click", function (event) {
        console.log("start")
        let url = $("#start_button").val();

        $.get(url, {},
            function (data) {
                console.log("get")
                let pk = data
                console.log("Data Loaded: " + data);
                $("#result").html('<div id="result">aaaaaaaaaaaaa</div>')

                setInterval(function () { ShowProgressBar(pk) }, 3000)
                GetResult(pk)
            }
        );
    });

    function ShowProgressBar(progress_pk) {
        $.get("{% url 'show_progress' %}", { progress_pk: progress_pk },
            function (data) {
                console.log("Data Loaded: " + data);
                $("#progress").replaceWith(data)
            }
        );
    }

    function GetResult(pk) {
        $.get("{% url 'do_something' %}", { progress_pk: progress_pk },
            function (data) {
                console.log("Data Loaded: " + data);
                $("#result").replaceWith(data)
            }
        );
    }
</script>

</html>